{% extends "layout.njk" %}

{% block content %}
    <div class="banner">
                <div class="banner__txts">
                    <h1>As melhores receitas</h1>
                    <h2>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</h2>
                </div>            
                <img src="imgs/chef.png" alt="Chefe de cozinha desenho">
            </div>

        </section> 
{% endblock %}    